*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: 16px;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* ul {
	list-style-type: none;
} */

/* li {
	list-style: none;
	text-decoration: none;
} */

a {
	text-decoration: none;
	color: inherit;
}

.container {
	position: relative;
	max-width: 1000px;
	min-width: 280px;
	margin: 0 auto;
	padding: 20px;
}

.text-center {
	text-align: center;
}

.two-column {
	display: flex;
}

.header {
	margin: 20px 0;
	font-weight: 400;
	font-size: 2rem;
}

.sidebar-list {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.sidebar-item {
	list-style-type: none;
	margin: 3px 0;
}

.sidebar-instructions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1;
}
